<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Time Buddy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">The Time Buddy</div>
            <ul class="nav-links">
    			<li><a href="{{ url_for('home') }}" class="active">Home</a></li>
    			<li><a href="{{ url_for('notes') }}">Notes</a></li>
    			<li><a href="{{ url_for('todo') }}">Todo</a></li>
    			<li><a href="{{ url_for('pomodoro') }}">Pomodoro</a></li>
    			<li><a href="{{ url_for('planner') }}">Monthly Planner</a></li>
			</ul>

        </nav>
    </header>

    <main>
        <section class="hero">
			<h1>Welcome back!</h1>
			<p>Let’s make today productive and creative!</p>
		<div class="hero-buttons">
			<a href="notes.html" class="btn">Write a Note</a>
			<a href="todo.html" class="btn">View To-Do</a>
		</div>
		</section>

		<section class="dashboard">
		<div class="card notes-preview">
			<h2>Recent Notes</h2>
			<p>No notes yet... start writing to stay organized!</p>
		</div>

		<div class="card todo-preview">
			<h2>Today’s To-Do</h2>
			<ul>
				<li>Add your first task!</li>
			</ul>
		</div>
		</section>
    </main>

    <footer>
        <p>The Time Buddy © 2025 | Muskan Zehra | Student ID: 35933188</p>
    </footer>
</body>
</html>